.container {
    display: flex;
    // height: 100vh;
    // margin-top: 5vh;
    justify-content: center;
    // align-items: center;
}

.title-container {
    margin-top: 10vh;
    z-index: 1;
    color: #fffffd;
}

.app-title {
    font-size: 80px;
    font-weight: bold;
}

.app-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 95vw;
    align-items: center;
    // border-radius: 10px 50px;
    border-radius: 72% 28% 67% 33% / 47% 59% 41% 53% ;
    background-color: #a1bccc;
    position: absolute;
}

.form-group {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.form-group label {
    margin-right: 5px;
}

.form-group input {
    height: 25px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    border-bottom: solid 1px #014169;
    border-right: solid 1px #014169;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-button {
    border-radius: 5px;
    height: 30px;
    width: 50px;
    color: #fffffd;
    background-color: #f59b78;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.login-button[disabled] {
    color: grey;
    background-color: #fce9df;
}