<div class="container">
    <div class="group-header">
        <p>{{group.name}}</p>
    </div>
    <div class="button-container" *ngIf="this.currentUser?.id == group.creator?.id">
        <button class="invite-button" [routerLink]="['/groups', group.id, 'invite-user']">Invite</button>
    </div>
    <div>
        <div>
            <p>Users in this Group</p>
        </div>
    
        <div class="member-list">
            <!-- <li>{{group.creator.username}} ({{group.creator.first_name}}) creator</li> -->
            @for(member of group.members; track member.id) {
                <div class="member-info">
                    <p *ngIf="group.creator?.id == member.id"> creator</p>
                    <div class="member-info-details">
                        <p>{{member.username}} - {{member.first_name}}</p>
                        <p *ngIf="this.currentUser?.id == member.id">(you)</p>
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div *ngIf="this.currentUser?.id == group.creator?.id">
        <div>
            <p>Create a shopping list from all members' lists of items that need to be purchased.</p>
        </div>
        <button class="list-button" (click)="generateItemsToPurchase()">Generate List</button>
        <!-- <ul>
            @for(list of group.lists; track list.id) {
                <p>{{list.name}} ({{list.user?.username}})</p>
                @for(item of list.items; track item.id) {
                    <li *ngIf="item.need_to_purchase"> {{item.name}}</li>
                }
            }
        </ul> -->
        @if(showList) {
            <div class="items-to-purchase">
                <p *ngIf="toPurchaseItems.length == 0">No items needed</p>
                @for(item of toPurchaseItems; track item.id) {
                    <div class="item-container">
                        <li *ngIf="item.need_to_purchase"> {{item.name}}</li>
                        <span>{{item.store}}</span>
                        <span>{{item.notes}}</span>
                    </div>
                    <!-- add logic to inclue the name of the user whose item it is -->
                }
            </div>
        }
    
    </div>
</div>

<!-- Delete member, edit member -->
<!-- TODO save the generated shopping list for this group (localStorage?)-->
<!-- Then the user has a way to change need_to_purchase to false? Or individual users update their own lists? -->

<!-- If it's not their created group, have option to leave the group -->