<div class="container">
    <!-- TODO Have user info here? -->
    <div class="dashboard-welcome">
        <p>welcome, {{currentUser?.username}}!</p>
    </div>
    <div class="dashboard-links">
        <a href="">account info</a>
        <a routerLink="lists" routerLinkActive="active">my lists</a>
        <a routerLink="groups" routerLinkActive="active">my groups</a>
    </div>
</div>

<!-- TODO Add a way to view current shopping lists? -->
<!-- See recent shopping lists? -->
<!-- View invitations to other groups, then join -->
<!-- Add view/update personal info -->