<div class="container">
    <div class="list-of-groups">
        <p>Created Groups</p>
        @for (group of createdGroups; track group.id) {
            <!-- <app-group [group]="group"/> -->
            <a [routerLink]="['/groups', group.id]"><p>{{group.name}}</p></a>
        }
        <p>Joined Groups</p>
        @for (group of joinedGroups; track group.id) {
            <!-- <app-group [group]="group"/> -->
            <a [routerLink]="['/groups', group.id]"><p>{{group.name}}</p></a>
        }
    </div>
</div>

<!-- TODO create a new group -->
<!-- TODO show groups the user is a member of, not just their created groups -->
