<div class="container">
    <div class="button-container">
        <button class="add-button" routerLink="/groups/add-group">Create new group</button>
    </div>

    <div class="main-container">
        <div class="list-of-groups">
            <!-- <p>Created Groups</p>
            @for (group of createdGroups; track group.id) {
                <a [routerLink]="['/groups', group.id]"><p>{{group.name}}</p></a>
            }
            <p>Joined Groups</p> -->
                @for (group of joinedGroups; track group.id) {
                    <div class="group-name">
                    <a [routerLink]="['/groups', group.id]"><p>{{group.name}}</p></a>
                    <p *ngIf="this.currentUser?.id == group.creator?.id"> creator</p>
                    <!-- <p>{{group.creator.username}}</p> -->
                    </div>
                }
        </div>
    </div>

</div>

<!-- TODO create a new group -->
