<!-- Logic here for if there are no invitations with accepted: false -->
<!-- Then display <p>No pending invitaitons</p> -->

<div class="container">
    @for (invitation of invitations; track invitation.id) {
        <div *ngIf="invitation.accepted == false">
            <p>{{invitation.sender.username}} sent you an invitation to join their group.</p>
            <p>Click on the link to join!</p>
            <!-- <a [routerLink]="['/groups', invitation.group_id]">Join</a> -->
            <p (click)="joinGroup(invitation, invitation.group_id)" style="cursor: pointer">Join</p>
        </div>

    }
</div>

