<div class="list-header">
    <div>List: {{list.name}}</div>
    <div>Group: {{list.group.name}}</div>
    <!-- update blueprint to send association group in order to display group name -->
</div>

<div>
    <ul class="item-list">
        @for (item of items; track item.id) {
            <div class="item-container">
                <a [routerLink]="['/items', item.id]"><p>{{item.name}}</p></a>
                <span *ngIf="item.need_to_purchase"> * </span>
                <p (click)="navigateToEditItemRoute(item.id)" style="cursor: pointer">edit</p>
                <p>delete</p>
            </div>
        }
    </ul>
</div>
<div>
    <button [routerLink]="['/lists', list.id, 'add-item']">Add new item</button>
</div>





<!-- Add item, edit item, delete item, mark as need_to_purchase -->
<!-- Delete List -->
<!-- Edit name of this list -->


<!-- <a routerLink="lists" routerLinkActive="active">My Lists</a> -->